.wrapper-register {
  width: 100%;  
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 15px;
  // background: #9053c7;
  // background: -webkit-linear-gradient(-135deg, #c850c0, #FF8C00);
  // background: -o-linear-gradient(-135deg, #c850c0, #FF8C00);
  // background: -moz-linear-gradient(-135deg, #c850c0, #FF8C00);
  // background: linear-gradient(-135deg, #c850c0, #FF8C00);
  background: url("https://previews.123rf.com/images/9dreamstudio/9dreamstudio1709/9dreamstudio170900003/85096310-large-plastic-bowl-of-pet-dog-food-with-toys-on-white-table-background-top-view-mockup.jpg");
  .wrapper-form-register {
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 70px;
    .ant-form {
      justify-content: space-between;
      text-align: center;
      opacity: 0.95;
      .ant-col-12{
        padding: 0 10px;
      }
      #normal_register_phone{
        width: 253px;
      }
      .logo {
        background: url('../../assets/images/petstore.png') no-repeat;
        background-size: contain;
        width: 250px;
        height: 100px;
        float: left;
      }  
      .title{
        margin-top: 20px;
        padding-bottom: 40px;
        float: left;
      }
      .ant-input {
        border-radius: 1px;
        width: 300px;
        padding: 14px 20px;
        border: solid 1px gray;
        &::placeholder {
          font-size: 13px;
          color: gray;
        }
        &:focus {color: black;}
      }  
      .ant-btn {
        height: 35px;
        width: 150px;
        border: solid 1px gray;
        background: grey;
        color: cornsilk;
      }
      .ant-btn:hover  {
        border: solid 1.5px gray;
        color: cornsilk;
      }
    }
    a{
      color: gray;
    }
    a:hover {
      font-weight: 600;
      color: grey;
  }
  }
}