.pet-modal{
  width: 800px !important;
}
.ant-input {
  border-radius: 1px;
  padding: 14px 20px;
  border: solid 1px gray;
  &::placeholder {
    font-size: 13px;
    color: gray;
  }
  &:focus {color: black;}
  &:hover{border: solid 1px gray;}
}  
.ant-select-selection{
  border: solid 1px gray;
  &:hover{border: solid 1px gray;}
}
.ant-col-12{
  padding: 0 10px;
}
.ant-btn {
  height: 35px;
  border: solid 1px gray  !important;
  background: grey  !important;
  color: cornsilk  !important;
  &:hover  {
    border: solid 1.25px gray;
    color: cornsilk;
    background: #595959
}
  &::after {
    color: cornsilk !important;
    background: grey !important;
  }
}